* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    width: 100%;
    height: 100%;
}



main {
    margin-left: 15px;
    margin-top: 40px;
}

header {
    border-bottom: 1px solid black;
    padding: 20px;
    background-color: #024959;
    height: auto;
}

header>a {
    color: white;
    font-weight: bold;
}

h1 {
    color: #095147;
}

.recipe-selection {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    max-width: 600px;
    min-width: 200px;
}

.recipe-selection>div {
    width: auto;
    padding-right: 100px;
}

.recipe-selection a {
    color: #593E25;
    font-weight: bold;
}



p {
    margin-top: 0px;
}

#amount {
    font-weight: bold;
}

#item {
    font-weight: bold;
    padding-left: 13px;
}

tr:nth-child(even) {
    background-color: rgba(196, 196, 196, 0.701);
}

ol {
    margin-bottom: 80px;
}

footer {
    background-color: #F2C12E;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
}

footer>p {
    align-self: center;
    padding-left: 20px;
    padding-top: 10px;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 1175px) {
    .recipe-selection {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        max-width: 600px;
        margin-bottom: 80px;
    }



}
